body {
    margin-left: 10px;
}

table,
thead,
th,
td {
    border: 1px solid #333;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6,
.skill7 {
    display: flex;
    justify-content: space-between;
    
}
.stars {
    color: green;
    
}


.profile__img {
    margin-top: 5px;
    max-width: 50%;
    min-width: 300px;
    height: 300px;
}



.copyRight {
    text-align: center;
    margin-top: 50px;
}

